.resume{
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: row;
  margin: 5%;
}

@media (max-width:768px){
  .resume{
    display: flex;
    flex-direction: column;
  }
  .image{
    width: 90%;
    height: 80%; 
  }
}
.resume-left{
  width: 40%;
}
.resume-right{
  width: 60%;
}
.image{
  width: 50%;
  height: 40%;
}
.header{
  font-weight: bold;
}
.title{
}
.icon{
  margin: 5%;
}
.line{
  border: 2px solid rgb(0, 70, 128);
  width: 100%;
}
